[Unit]
Description=HTTP Activation Service

[Service]
ExecStart=/home/vic/bin/http-activation
Sockets=http-activation-a.socket http-activation-b.socket
